fastapi
uvicorn[standard]
motor
numpy
openai
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pymupdf
python-docx
tree-sitter
tree-sitter-javascript
httpx
aiofiles
python-dotenv
pydantic[email]
pydantic-settings
sqlparse
graphifyy
sentence-transformers
einops
